aiodns
asyncpg
cchardet
gino
paramiko
pillow
pipdeptree
pip-upgrader
python-dateutil
rapidfuzz
tabulate
uvloop; sys_platform == 'linux'

git+https://github.com/Rapptz/discord.py#egg=discord.py[voice]
